
body {
    background: #fff;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width:268px;
    height:93px;
}

.name {
    display: inline-block;
    margin-left: -20px;
}

.name1 {
    display: inline-block;
    margin-left: -20px;

}

.arrow_icone {
    height: 9.88px;
    width: 16px; 
} 

.arrow_icone{
    height: 9.88px;
    width: 16px;
} 

.search_icone {
    height: 32.06px;
    width: 32.06px;
} 

.dropdown-toggle::after {
    margin-left: 55px;
    margin-right: 0px;
   
}

.btn {
    padding: 0;
}

.form-inline .form-control {
    height: 69px;
    width: 1240px;
    left: 0px;
    top: 0px;
    border-radius: 5px;

    position: absolute;
    left: 10%;
    right: 0%;
    top: 30%;
    bottom: 0%;

    background: #E7E7E7;
    border-radius: 5px;
}

.form-control2 {
    height: 69px;
    width: 1240px;
   
    position: absolute;
    left: 10%;
    right: 0%;
    top: 25%;
    bottom: 0%;

    background: #E7E7E7;
    border-radius: 5px;
}



.search_icone{
    height: 44px;
    width: 44px; 
    position: absolute;
    left: 87%;
    right: 0%;
    top: 28%;
    bottom: 0%;
}


.labelTag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 135px;
    margin-left: 145px;
}


.rectangle_blue .show {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between; 
    /* align-content: space-between;
    justify-content: space-between;
    background: #3282F7;
    /* margin-left: 140px; */
    /* margin-bottom: 100px; */
}

.rectangle_blue div {
    background: #3282F7;
    width: 107px;
    height: 37px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    font-weight: bold;
    line-height: 12px;
    display: flex;
    align-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;
    gap: 5px;
    padding: 0px 10px;
}



.rectangle_green {
    /* width: 107px;
    height: 37px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    align-items: center;
    margin: 35px;
    gap: 25px 20px;
    margin-left: 120px; */
   
}


.rectangle_green .show {
    background: #68D9A4;
    /* margin-left: 120px; */
    display: flex;
    justify-content: space-between;
}

.rectangle_green div {
    background: #68D9A4;
    width: 107px;
    height: 37px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    font-weight: bold;
    line-height: 12px;
    display: flex;
    align-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin-top: 40px;
    margin-left: 5px;
    gap: 5px;
    padding: 0px 10px;
  }

  

  .rectangle_red {
    /* width: 107px;
    height: 37px;
    max-height:max-content;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    align-items: center;
    margin: 40px;
    gap: 25px 20px;
    margin-left: 130px; */

}

.rectangle_red .show {
    background: #ED6454;
    /* margin-left: 100px; */
    display: flex;
    justify-content: space-between;
}

.rectangle_red div {
    background: #ED6454;
    width: 107px;
    height: 37px;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
    line-height: 12px;
    gap: 7px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    margin-top: 40px;
    margin-left: 7px;
    gap: 5px;
    padding: 0px 10px;
  }

.supprim_icone {
    margin-left: 10%;
}


#dropdownMenuButtonIngredient, #dropdownMenuButtonAppareil, #dropdownMenuButtonUstensil {
    color: #fff;
    
}

.input-group {
    position: absolute;
}

.custom-select {
    width: 170px;
    height: 69px;
    border-radius: 5px;

    position: absolute;
    left: 25%;
    right: 0%;
    top: 65%;
    bottom: 0%;

    color: #fff;
    background: #3282F7;
    border-radius: 5px;
    padding-left: 1%;
}


.card-img-top {
    width: 380px;
    height: 178px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
}
.card-body {
    margin: 0;
    padding: 0;
    background: #E7E7E7;
    border-radius: 5px;
}

.liste {
    width: 171px;
    height: 105px;
    position: absolute;
    left: -4.74%;
    right: 0%;
    top: 60%;
    bottom: 0%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    justify-content: left;
    vertical-align: top;
    
    color: #000000;
    text-decoration: none;
    white-space:pre-wrap;
}

ul {
    list-style-type: none;
   
  }

li {
    white-space: nowrap;
    font-weight: 100;
    display: table-cell; 
   
}

#ingredList {
    display: table-cell; 
    vertical-align: middle;
}

.card-text {
      
    position: absolute;
    left: 50.26%;
    right: 4.74%;
    top: 60%;
    bottom: 20%;
    width: 171px;
    height: 109px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
    
    
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; 
    height: 100px; 

}


.card-deck {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: stretch;
    
    align-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    width: 100%;
    max-width: 1300px;
    min-width: 280px;
    padding: 25px 150px;
    border-radius: 5px;
    /* position: relative;
    left: 8.5%;
    right: 0%;
    top: 85%;
    bottom: 0.33%; */
    /* position: inherit; */
}

 .card {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 364px;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 5px;
    overflow: hidden;
}


.card-title {
    position: absolute;
    left: 5.26%;
    right: 0%;
    top: 50%;
    bottom: 0%;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    color: #000000;
  
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icone_duree {
    height: 20px;
    width: 20px;

    position: absolute;
    left: 75%;
    right: 0%;
    top: 50%;
    bottom: 8.33%;
    
    color: #000000;

}

.duree {
    width: 56px;
    height: 22px;

    position: absolute;
    left: 82%;
    right: 5.26%;
    top: 50%;
    bottom: 26.67%;

    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    white-space: normal;
}



.filteresSelected {
    display: flex;
    flex-direction: row;
    gap: 50px 100px;
    margin: 40px 0px 50px 155px;
}

.dropdownIngredients {
    width: 170px;
    height: 69px;
    display: flex;
    /* justify-content: space-between; */
    background: #3282F7;
    border-radius: 5px;
    padding-left: 2%;
}


.dropdownIngredients .show{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2196F3;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;

  
}

#ingredients_dropdown_menu {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
    width: 550px;
}

.dropdownIngredients .show {
    border-radius: 5px;
    background-color: #3282F7;
    color: white;
    width: 600px;

    position: absolute;
    transform: translate3d(154px, 265px, 0px) !important;
    top: 0px;
    left: 0px;
    will-change: transform;
          
}

#myInput {
    /* display: table-cell; 
    vertical-align: middle; */
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    opacity: 0.8;
    width: 500px;
    height: 30px;
    margin-bottom: 2%;
    background-color: transparent;
}

/* #dropdownMenuButtonIngredient[aria-expanded ="true"] > .name {
     display: none;
} */

/* #dropdown-menu[aria-expanded ="true"] {
position: absolute;
transform: translate3d(154px, 265px, 0px);
top: 0px;
left: 0px;
will-change: transform;
} */

.arrow_icone {
    justify-content: space-between;
}

.dropdownAppareils {
    width: 170px;
    height: 69px;
    display: flex;
    /* justify-content: space-between; */
    background: #68D9A4;
    border-radius: 5px;
    padding-left: 23%;
    padding-right: 5px;
}


.dropdownAppareils .show{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #68D9A4;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    transform: translate3d(424px, 265px, 0px) !important;
}

.dropdownAppareils .show{
    background-color: #68D9A4;
    border-radius: 5px;
    color: white;
}



#myInputAppareil {
    background-color: #68D9A4;
    width: auto;
    height: auto;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    width: 500px;
    height: 30px;
    margin-bottom: 2%;
    background-color: transparent;
}

/* .appareils_dropdown_menu_class .show {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    width: 1000px;
} */


.dropdownUstensils {
    width: 170px;
    height: 69px;
    display: flex;
    background: #ED6454;
    border-radius: 5px;
    padding-left: 21%;
    
}


.dropdownUstensils .show{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    background-color: #ED6454;
    transform: translate3d(694px, 264px, 0px) !important;
}

.dropdownUstensils .show{
    background-color: #ED6454;
    border-radius: 5px;
    color: white;
}


#myInputUstensil {
    background-color: #68D9A4;
    width: auto;
    height: auto;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    width: 500px;
    height: 30px;
    margin-bottom: 2%;
    background-color: transparent;
}

.well {
    background-color: darkred;
    border-radius: 5px;
    color: white;
    width: 550px;
    height: 50px;

    position: absolute;
    left: 10%;
    right: 0%;
    top: 70%;
    bottom: 0%;
}


#appareils_dropdown_menu {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
    width: 600px;
}

.dropdownAppareils .show {
    border-radius: 5px;
    color: white;
    width: 600px;
}

#ustensils_dropdown_menu {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
    width: 600px;
}

.dropdownUstensils .show {
    border-radius: 5px;
    color: white;
    width: 600px;
}